.post {
  width: 100%;
  max-width: 500px;
  padding: 30px;
  background-color: var(--white);
  border: 2px dashed var(--beige);
  border-radius: 12px;
  margin-bottom: 20px;
  text-align: center;
}
.post h3 {
  text-align: center;
  font-size: 32px;
}

.post img {
  width: 45%;
  height: auto;
  border-radius: 8px;
  margin: 0 auto;
}

.post p {
  font-size: 16px;
  line-height: 1.5;
  color: var(--brown);
}
